html {
    font-family: 'Montserrat', sans-serif;
    background-color: #226666;
}

body {
    margin: 0% 10%;
    background-color: #0D4D4D;
    position: absolute;
    height: 100%;
}

header { 
    background-color: #003333;
    padding: 20px;
    font-size: 2.3em;
    text-align: center;
}

nav {
    margin-top: 7px;
    text-align: center;
    position: relative;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
}
nav a {
    color: #669999;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover {
    background-color: #669999;
    color: #003333;
}

h1 {
    font-size: 50px;
    padding: 10px 0px 0px 0px;
    border: 10px;
    margin: 5px 0px 20px 10px;
    color: #669999;
}

img {
    float: left;
    opacity: 0.8;
    border-radius: 20%;
    padding: 0px 30px 10px 0px;
    width: 300px;
    margin-left: 25px;
}

#about {
    padding: 10px 0px 0px 20px;
    margin: 0px 0px 35px 0px;
}

h2 {
    color: #669999;
    font-size: 32px;
    margin: 5px
}

p, li, ul{
    color: #669999;
    list-style: none;
}

#station {
    float: left;
}

@media only screen and (min-width: 320px) and (max-width: 599px) {
    html {
        background-color: #0D4D4D;
        position: relative;
        width: 100%;
    }
    
    body {
        margin: 0px;
        background-color: #0D4D4D;

    }
    header {
        width: 100%;
    }
    
    nav li {
        display: block;
        width: 100%;
        float: none;
    }
    
    h1, h2 {
        text-align: center;
    }
    p, li, ul {
        font-size: 0.9em;
        text-align: center;
    } 
    
    #photo-me {
        display: block;
        margin-left: auto;
        margin-right: auto;
        overflow: hidden;
        float: none;
    }
    
    div {
        display: block;
    }
}

@media screen and (max-width: 992px) {
    html {
        background-color: #0D4D4D;
        position: relative;
    }
    
    body {
        margin: 0px;
    }
    
    header {
        width: 100%;
    }
    
    h1 {
        text-align: center;
      
    }
    
    nav li {
        display: inline-block;
        margin: auto;
        text-align: center;
    }
}