html {
    background-color: #226666;
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0% 10%;
    margin-bottom: 0;
    background-color: #0D4D4D;
    position: absolute;
    height: 100%;
}

header { 
    background-color: #003333;
    padding: 20px;
    font-size: 2.3em;
    text-align: center;
}

nav {
    margin-top: 7px;
    text-align: center;
    position: relative;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 80px;
}

nav a {
    color: #669999;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover {
    background-color: #669999;
    color: #003333;
}

h1 {
    font-size: 50px;
    color: #669999;
    text-align: center;
}

p {
    color: #669999;
    margin: 0.8em;
    text-align: center;
}

div {
    float: left;
    width: 100%; 
}

button {
    float: left;
}
#photo-1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#photo-2 {
    height: 400px;
    width: 700px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#photo-3 {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.photos {
    display: inline-block;
}

